@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Bug Tracer!</h1>
    @*<p class="lead">Please log in.</p>*@
    
</div>
<div class="row">


    <div class="col-md-3">
        <div class="card" style="height:215px">
            <h5 class="card-header">Submitter Demo:</h5>
            <div class="card-body">
                <ul class="col-sm-offset-1">
                    <li>Can create tickets</li>
                    <li>Can create comments and attachments on their tickets</li>
                    <li>Can create tickets</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height:215px">
            <h5 class="card-header">PM Demo:</h5>
            <div class="card-body">
                <ul class="col-sm-offset-1">
                    <li>Can assign users to tickets</li>
                    <li>Can create comments and attachments on their tickets</li>
                    <li>Can create projects</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height:215px">
            <h5 class="card-header">Developer Demo:</h5>
            <div class="card-body">
                <ul class="col-sm-offset-1">
                    <li>Can edit tickets</li>
                    <li>Can create comments and attachments on their tickets</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height:215px">
            <h5 class="card-header">Admin Demo:</h5>
            <div class="card-body">
                <ul class="col-sm-offset-1">
                    <li>Can do anything related to users</li>
                    <li>Can do anything related to projects</li>
                    <li>Can do anything related to tickets</li>
                </ul>
            </div>
        </div>
    </div>
</div>