@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Bug Tracer!</h1>
    @*<p class="lead">Please log in.</p>*@
    
</div>
<div class="col-lg-4">
    <div class="card">
        <h5 class="card-header">Submitter Demo:</h5>
        <div class="card-body">
            <ul>
                <li>Can create tickets</li>
                <li>Can create comments and attachments on their tickets</li>
                <li>Can create tickets</li>
            </ul>
        </div>
    </div>
</div>
